
{% extends 'base.html' %}
{% block conteudo %}
<h2 class="text-center">Bem-vindo ao Sistema de Memoriais</h2>
<p class="text-center">Escolha um módulo para iniciar:</p>
<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{{ url_for('memoriais_descritivos') }}" class="btn btn-primary">MEMORIAS DECOPA</a>
    <a href="{{ url_for('memoriais_azimute_az') }}" class="btn btn-secondary">MEMORIAIS_AZIMUTE_AZ</a>
    <a href="{{ url_for('memoriais_azimute_p1_p2') }}" class="btn btn-secondary">MEMORIAIS_AZIMUTE_P1_P2</a>
    <a href="{{ url_for('memoriais_angulos_internos_az') }}" class="btn btn-secondary">MEMORIAIS_ANGULOS_INTERNOS_AZ</a>
    <a href="{{ url_for('memoriais_angulos_internos_p1_p2') }}" class="btn btn-secondary">MEMORIAIS_ANGULOS_INTERNOS_P1_P2</a>
</div>
{% endblock %}
